@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}
<br><br><br>

 <img src="assets/images/gmail.png" alt="">
@{
    if (@Model.DisplayConfirmAccountLink)
    {



    



    <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-5 fw-light fs-5">CONFIRMAR REGISTRO</h5>
            <form >
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <p>Ingrese al link para confirmar el registro de Usuario</p>
                <div>
                        
                       
                        <a class="btn btn-warning" id="confirm-link" href="@Model.EmailConfirmationUrl">Confirmar Registro</a>

              </div>



              <hr class="my-4">


                            </form>
                        </div>
                        </div>
                    </div>
                    </div>
            </div>


            }
                else
                {
            <p>
                    Please check your email to confirm your account.
            </p>
                }



}

